<mat-card class="card-container">
  <mat-card-header class="card-header">
    <div mat-card-avatar class="card-header-image">
      <mat-icon aria-hidden="false" aria-label="card icon" class="alert--primary">{{card.icon}}</mat-icon>
    </div>
    <mat-card-title>{{card.title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p *ngFor="let content of card.content">
      {{content}}
    </p>
    <p *ngIf="card.detail">{{ card.detail | greating }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button>DETAIL</button>
  </mat-card-actions>
</mat-card>