@import "~src/styles/_variables"

.card-container
  padding-bottom: 24px
  margin-bottom: 24px
  background-color: $paper-light
.card-header
  background-color: $blue
  padding: 6px
  border-radius: 8px
  display: flex
  align-items: center
  margin-bottom: 8px

.mat-card-header .mat-card-title
  margin: 0
  color: $dark

.mat-icon
  color: $orange
.mat-card-avatar
  display: flex
  justify-content: center
  align-items: center
.material-icons
  font-size: 24px