@import "~src/styles/_variables"
@import "~src/styles/_groupings"

.nav-tabs
  padding-bottom: $space-xsmall
  border-bottom: $nav-padding-bottom solid $dark-grey 

.nav-li
  background-color: $light-grey
  border: none
  a
    background: transparent
    border: none
    color: $dark
    border-radius: $nav-link-radius
    &:hover
      color: $blue
  &.active
    background-color: transparent
    a
      color: $light
      background-color: $orange
      border: none